{% extends 'base.html.twig' %}
{% block stylesheets %}
{{parent()}}
<!--<script>
   function Export2Doc(element, filename = ''){
       var preHtml = "<html xmlns:o='urn:schemas-microsoft-com:office:office' xmlns:w='urn:schemas-microsoft-com:office:word' xmlns='http://www.w3.org/TR/REC-html40'><head><meta charset='utf-8'><title>Export HTML To Doc</title></head><body>";
       var postHtml = "</body></html>";
       var html = preHtml+document.getElementById(element).innerHTML+postHtml;
   
       var blob = new Blob(['\ufeff', html], {
           type: 'application/msword'
       });
       
       // Specify link url
       var url = 'data:application/vnd.ms-word;charset=utf-8,' + encodeURIComponent(html);
       
       // Specify file name
       filename = filename?filename+'.doc':'document.doc';
       
       // Create download link element
       var downloadLink = document.createElement("a");
   
       document.body.appendChild(downloadLink);
       
       if(navigator.msSaveOrOpenBlob ){
           navigator.msSaveOrOpenBlob(blob, filename);
       }else{
           // Create a link to the file
           downloadLink.href = url;
           
           // Setting the file name
           downloadLink.download = filename;
           
           //triggering the function
           downloadLink.click();
       }
       
       document.body.removeChild(downloadLink);
   }
</script>-->
<script type="text/javascript"> function hideabout() { divInfo = document.getElementById('divabout'); if (divInfo.style.display == 'none') divInfo.style.display = 'block'; else divInfo.style.display = 'none'; }
   function hideabout() { divInfo = document.getElementById('divabout'); if (divInfo.style.display == 'none') divInfo.style.display = 'block'; else divInfo.style.display = 'none'; }
    function hideConn() { divInfo = document.getElementById('divConn'); if (divInfo.style.display == 'none') divInfo.style.display = 'block'; else divInfo.style.display = 'none'; }
    function hideComp() { divInfo = document.getElementById('divComp'); if (divInfo.style.display == 'none') divInfo.style.display = 'block'; else divInfo.style.display = 'none'; }
    function hideLang() { divInfo = document.getElementById('divLang'); if (divInfo.style.display == 'none') divInfo.style.display = 'block'; else divInfo.style.display = 'none'; }
    function hideLoisir() { divInfo = document.getElementById('divLoisir'); if (divInfo.style.display == 'none') divInfo.style.display = 'block'; else divInfo.style.display = 'none'; }
    function hideForm() { divInfo = document.getElementById('divForm'); if (divInfo.style.display == 'none') divInfo.style.display = 'block'; else divInfo.style.display = 'none'; }
    function hideParcour() { divInfo = document.getElementById('divParcour'); if (divInfo.style.display == 'none') divInfo.style.display = 'block'; else divInfo.style.display = 'none'; }
   
    
</script>
{% endblock %}
{% block body %}{{ parent() }}{% endblock %}
{% block content %}
{% if app.user %}
<!--Pricing Section-->
<br><br><br><br><br><br>
<section  class="cv">
   <div class="container" >
      <div class="row">
         <div class="col-md-4 col-sm-4"> </div>
            <div class="impress_btns  col-md-4 col-sm-4">
            <a href="{{ path('cv_download', {'id' : user.id}) }}" class="btn btn-primary m-top-20 " style="width:100%;">Download pdf <i class="fa fa-download"></i></a></div>
        
         <div class="col-md-4 col-sm-4"> </div>
      </div>
      <div id="exportContent" class="row">
         <div class="main_pricing roomy-100">
            <div class="col-md-12 col-sm-12">
               <div class="pricing_item ">
                  <div class="head_title text-center p-top-12">
                     <br>  
                     {% if user.post=='RH'%}  
                     <h2>CV</h2>
                     <div class="separator_auto"></div>
                     {% else %}
                     <h2>{{user.username}}</h2>
                     <div class="separator_auto"></div>
                     <p>
                        {{user.post}} <br>
                        {{ "now"|date("Y")- user.dateEmbauche |date(" Y")}} ans d’expérience
                     </p>
                     {% endif %}
                     <!--   <div class="impress_btns m-top-30">
                        <a href="" class="btn btn-primary m-top-20">export .pdf</a>
                        <a href="" class="btn text-white bg-mega m-top-20">SHOW CV</a>
                        <a href="" class="btn btn-primary  m-top-20">export .doc</a>
                        
                        </div>-->
                  </div>
                  <div class="pricing_body bg-white p-top-150 p-bottom-60">
                     <div class="col-md-12">
                        <div class="service_item">
                           <h6 class="m-top-30">About
                              <a class=""  href="javascript: hideabout(); "
                                 >(+add)</a>
                           </h6>
                           <div class="separator_small"></div>
                           <div id="divabout" style="display: none;">
                              {{ form_start(formAbout,{'attr':{'class':'text-white'}}) }}
                              {{ form_widget(formAbout,{'attr':{'class':'text-black'}}) }}
                              <button class="btn" type="submit">{{ button_label|default('Save') }}</button>
                              {{ form_end(formAbout) }}
                           </div>
                           <br>
                           {% for a in about %}
                        <p>
 <form method="post" action="{{ path('about_delete', {'id': a.id,'id_user': user.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_method" value="DELETE">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ a.id) }}">
<button class="btn btn-danger delete-article" data-id="{{ a.id }}"style="background-color: #c90404; float: right;">-</button>
</form>  
 {{a.text}}
 </p> 
 <hr>
  {% endfor %}
                          
                          
                        </div>
                     </div>
                     <div class="col-md-12">
                        <div class="service_item">
                           <h6 class="m-top-30">Compétences
                              <a class=""  href="javascript: hideComp(); "
                                 >(+add)</a>
                           </h6>
                           <div class="separator_small"></div>
                           <div id="divComp" style="display: none;">
                              {{ form_start(formComp,{'attr':{'class':'text-white'}}) }}
                              {{ form_widget(formComp) }}
                              <button class="btn" type="submit">{{ button_label|default('Save') }}</button>
                              {{ form_end(formComp) }}
                           </div>
                           <br>
                           {% for c in competence %}
                           <p> 
 <form method="post" action="{{ path('competence_delete', {'id': c.id,'id_user': user.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_method" value="DELETE">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ c.id) }}">
<button class="btn btn-danger delete-article" data-id="{{ c.id }}"style="background-color: #c90404; float: right;">-</button>
</form> 
                           {{c.competenceField}}
                           </p>
                           <hr>
                           {% endfor %}
                        </div>
                     </div>
                     <div class="col-md-12">
                        <div class="service_item">
                           <h6 class="m-top-30">Connaissances
                              <a class=""  href="javascript: hideConn(); "
                                 >(+add)</a>
                           </h6>
                           <div class="separator_small"></div>
                           <div id="divConn" style="display: none;">
                              {{ form_start(formConn,{'attr':{'class':'text-white'}}) }}
                              {{ form_widget(formConn) }}
                              <button class="btn" type="submit">{{ button_label|default('Save') }}</button>
                              {{ form_end(formConn) }}
                           </div>
                           <br>
                           {% for cn in connaissances %}
 <form method="post" action="{{ path('connaissances_delete', {'id': cn.id,'id_user': user.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_method" value="DELETE">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ cn.id) }}">
<button class="btn btn-danger delete-article" data-id="{{ cn.id }}"style="background-color: #c90404; float: right;">-</button>
</form> 
                           {% if cn.titre=='choice1' %} <a><b>Conception : </b></a>{{cn.technologies}}{% endif %}
                           {% if cn.titre=='choice2' %}  <a><b>BDD et Cache : </b></a>{{cn.technologies}}{% endif %}
                           {% if cn.titre=='choice3' %} <a><b>Développement : </b></a>{{cn.technologies}} {% endif %}
                           {% if cn.titre=='choice4' %}  <a><b>Méthodologies : </b></a>{{cn.technologies}}{% endif %}
                           {% if cn.titre=='choice5' %}  <a><b>Outils de développement : </b></a>{{cn.technologies}}{% endif %}
                           {% if cn.titre=='choice6' %}  <a><b>Intégratrion continue : </b></a>{{cn.technologies}}{% endif %}
                           {% if cn.titre=='choice7' %}  <a><b>Serveurs d application : </b></a>{{cn.technologies}}{% endif %}
                           {% if cn.titre=='choice8' %}  <a><b>Systémes : </b></a>{{cn.technologies}}{% endif %}
                          
 <!-- <a href="{{ path('connaissances_edit', {'id' : cn.id ,'id_user': user.id}) }}" class="btn btn-danger delete-article" data-id="{{ cn.id }}" style=" float: right; background-color:#24c6e3">+</a>-->
                           <hr>
                           {% endfor %}
                        </div>
                     </div>
                     <div class="col-md-12">
                        <div class="service_item">
                           <h6 class="m-top-30">Formation
                              <a class=""  href="javascript: hideForm(); "
                                 >(+add)</a>
                           </h6>
                           <div class="separator_small"></div>
                           <div id="divForm" style="display: none;">
                              {{ form_start(formForm,{'attr':{'class':'text-black'}}) }}
                              {{ form_widget(formForm) }}
                              <button class="btn" type="submit">{{ button_label|default('Save') }}</button>
                              {{ form_end(formForm) }}
                           </div>
                           <br>
                           {% for f in formation %}
                            <form method="post" action="{{ path('formation_delete', {'id': f.id,'id_user': user.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_method" value="DELETE">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ f.id) }}">
<button class="btn btn-danger delete-article" data-id="{{ f.id }}"style="background-color: #c90404; float: right;">-</button>
</form> 
                           <b>  {{f.datedebut|date("d |m |y")}} -  {{f.datedebut|date("d |m |y")}}  </b> <br>
                           <a> <b>  Dipôlme :</a> </b>{{f.titre}}<br>
                           <a> <b>  Etablissement :</a> </b>     {{f.Etablissement}}  
                           <br>
                           <hr>
                           {% endfor %}
                        </div>
                     </div>
                     <div class="col-md-12">
                        <div class="service_item">
                           <h6 class="m-top-30">langues
                              <a class=""  href="javascript: hideLang(); "
                                 >(+add)</a>
                           </h6>
                           <div class="separator_small"></div>
                           <div id="divLang" style="display: none;">
                              {{ form_start(formLang,{'attr':{'class':'text-white'}}) }}
                              {{ form_widget(formLang) }}
                              <button class="btn" type="submit">{{ button_label|default('Save') }}</button>
                              {{ form_end(formLang) }}
                           </div>
                           <br>
                           {% for lg in langues %}
                            <form method="post" action="{{ path('langues_delete', {'id': lg.id,'id_user': user.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_method" value="DELETE">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ lg.id) }}">
<button class="btn btn-danger delete-article" data-id="{{ lg.id }}"style="background-color: #c90404; float: right;">-</button>
</form> 
                           <div class="col-md-3">
                              <a><b> langue : </b></a>{{lg.langue}} 
                           </div>
                           <div class="col-md-6">
                              <a><b> niveau : </b></a> {{ lg.niveau }} / 10   
                           </div>
                           <br>
                           <hr>
                           {% endfor %}
                        </div>
                     </div>
                     <div class="col-md-12">
                        <div class="service_item">
                           <h6 class="m-top-30">loisirs
                              <a class=""  href="javascript: hideLoisir(); "
                                 >(+add)</a>
                           </h6>
                           <div class="separator_small"></div>
                           <div id="divLoisir" style="display: none;">
                              {{ form_start(formLoisir,{'attr':{'class':'text-white'}}) }}
                              {{ form_widget(formLoisir) }}
                              <button class="btn" type="submit">{{ button_label|default('Save') }}</button>
                              {{ form_end(formLoisir) }}
                           </div>
                           <br>
                           {% for p in loisirs %}
                            <form method="post" action="{{ path('loisirs_delete', {'id': p.id,'id_user': user.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_method" value="DELETE">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ p.id) }}">
<button class="btn btn-danger delete-article" data-id="{{ p.id }}"style="background-color: #c90404; float: right;">-</button>
</form> 
                           {{p.titre}}
                           <br>
                           <hr>
                           {% endfor %}
                        </div>
                     </div>
                     <div class="col-md-12">
                        <div class="service_item">
                           <h6 class="m-top-30">Parcours Professionnel
                              <a class=""  href="javascript: hideParcour(); "
                                 >(+add)</a>
                           </h6>
                           <div class="separator_small"></div>
                           <div id="divParcour" style="display: none;">
                              {{ form_start(formParcour,{'attr':{'class':'text-black'}}) }}
                              {{ form_widget(formParcour) }}
                              <button class="btn" type="submit">{{ button_label|default('Save') }}</button>
                              {{ form_end(formParcour) }}
                           </div>
                           <br>
                           {% for pr in parcours %}
                          
                           <form method="post" action="{{ path('parcours_delete', {'id':pr.id,'id_user': user.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_method" value="DELETE">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ pr.id) }}">
<button class="btn btn-danger delete-article" data-id="{{ pr.id }}"style="background-color: #c90404; float: right;">-</button>
</form> 
                           <a> <b>  {{pr.post }} - {{ pr.emplacement}}   </b></a>
                           <b>  {{pr.dateDebut|date("m | y")}} -  {{pr.datefin|date(" m | y")}}  </b>  <br>
                           <p><b> Description Projet: </b>{{ pr.description}} </p>
                           <p><b> Mission : </b>{{ pr.mission}} </p>
                           <br>
                           <hr>
                           {% endfor %}
                           <div class=" row">
                              {% if user.post=='RH'%}  
                              {% else %}
                              <!--   <div class="impress_btns head_title text-center ">
                                 <a href="{{ path('cv_edit', {'id' : user.id }) }}" class="btn text-white bg-mega m-top-20">save version</a>
                                 </div>
                                 {% endif %}
                                 </div> -->
                           </div>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
            <!-- End off col-md-4 -->
         </div>
      </div>
      <!--End off row-->
   </div>
   <!--End off container -->
</section>
<!--End off Pricing section -->
{% else %}
<div class="alert alert-danger" role="alert">
   Vous besoin de connecter avant !!
</div>
{% endif %}
{% endblock %}