{% extends 'base.html.twig' %}

{% block title %}Formation{% endblock %}

{% block body %}
    <h1>Formation</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ formation.id }}</td>
            </tr>
            <tr>
                <th>Titre</th>
                <td>{{ formation.titre }}</td>
            </tr>
            <tr>
                <th>Etablissement</th>
                <td>{{ formation.Etablissement }}</td>
            </tr>
            <tr>
                <th>Date_debut</th>
                <td>{{ formation.DateDebut ? formation.DateDebut|date('Y-m-d') : '' }}</td>
            </tr>
            <tr>
                <th>Date_fin</th>
                <td>{{ formation.dateFin ? formation.dateFin|date('Y-m-d') : '' }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('formation_index') }}">back to list</a>

    <a href="{{ path('formation_edit', {'id': formation.id,'id_user':app.user.id}) }}">edit</a>
    {{ include('formation/_delete_form.html.twig') }}

{% endblock %}
